server:
  port: 9090

spring:
  application:
    name: admin-server
#  boot:
#    admin:
#       context-path: /admin

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
