server:
  port: 8081

spring:
  application:
    name: auth-service
  data:
    redis:
      host: redis
      port: 6379
  datasource:
    url: jdbc:mysql://mysql:3306/auth_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: ${MYSQL_ROOT_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://registry-server:8761/eureka/
  instance:
    prefer-ip-address: true

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration-ms: 86400000
  rsa:
    private-key-path: ${RSA_PRIVATE_KEY_PATH:classpath:private_key.pem}
    public-key-path: ${RSA_PUBLIC_KEY_PATH:classpath:public_key.pem}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
